<!DOCTYPE html>
<html>
   <head>
    <!--<script src="https://sdk.twilio.com/js/client/v1.13/twilio.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script></script>
    
   </head>
   
   <body>
    
    <script type="text/JavaScript">

    /**
    * Eg. to send code: sendVerificationCode('+66949804265');
    */
      var ACCOUNT_SID = 'AC773683b1281a70b36aa0ac8e298d06a3';
      var AUTH_TOKEN = 'b80e88f4bf5fab582a700366f5f01b0d';
      var SERVICE_SID = 'VAfbb81132842fe8bcb67f38311a826e93';
      var FROM_NUMBER = '+16206709612';

      function sendVerificationCode(phoneNumber) {
          // Genera un código de verificación aleatorio
          var verificationCode = Math.floor(Math.random() * 10000).toString().padStart(4, '0');

          // Crea el mensaje de texto que se enviará
          var message = 'Tu código de verificación es: ' + verificationCode;

          // Envía el mensaje de texto usando la API de Twilio mediante una llamada AJAX
          $.ajax({
              url: 'https://api.twilio.com/2010-04-01/Accounts/' + ACCOUNT_SID + '/Messages.json',
              method: 'POST',
              data: {
                  To: phoneNumber,
                  From: FROM_NUMBER,
                  Body: message
              },
              headers: {
                  'Authorization': 'Basic ' + btoa(ACCOUNT_SID + ':' + AUTH_TOKEN),
                  'Content-Type': 'application/x-www-form-urlencoded'
              },
              success: function (response) {
                  console.log(response);
              },
              error: function (error) {
                  console.log(error);
              }
          });
      }

      function verifyCode(phoneNumber, code) {
          // Verifica el código de verificación ingresado por el usuario mediante una llamada AJAX
          $.ajax({
              url: 'https://verify.twilio.com/v2/Services/' + SERVICE_SID + '/VerificationCheck',
              method: 'POST',
              data: {
                  To: phoneNumber,
                  Code: code
              },
              headers: {
                  'Authorization': 'Basic ' + btoa(ACCOUNT_SID + ':' + AUTH_TOKEN),
                  'Content-Type': 'application/x-www-form-urlencoded'
              },
              success: function (response) {
                  console.log(response.status);
              },
              error: function (error) {
                  console.log(error);
              }
          });
      }
   </script>
   </body>
</html>