div(class=classNews)
	.news__center.center
		.news__head
			.news__logo
				img.some-icon(src="img/logo-light.svg" alt="BitCloud")
				img.some-icon-dark(src="img/logo-dark.svg" alt="BitCloud")
			h2.news__title.h2 Stay in the know on crypto with BitCloud
			.news__info A creative agency that lead and inspire
		.news__wrapper
			.news__slider.js-slider-news
				.news__item
					.news__preview
						img(srcSet="img/content/news-pic-1@2x.png 2x" src="img/content/news-pic-1.png" alt="Card")
					.news__wrap
						.stage-small.news__stage crypto news
						.news__subtitle Be Part of our Global Community
						.news__content Let’s stay in touch. Join our communities to keep up with the BitCloud team and our traders from across the world.
						a.button-stroke.button-small.news__button(href="learn-crypto-details.html") Join now
				.news__item
					.news__preview
						img(srcSet="img/content/news-pic-1@2x.png 2x" src="img/content/news-pic-1.png" alt="Card")
					.news__wrap
						.stage-small.news__stage crypto news
						.news__subtitle Be Part of our Global Community
						.news__content Let’s stay in touch. Join our communities to keep up with the BitCloud team and our traders from across the world.
						a.button-stroke.button-small.news__button(href="learn-crypto-details.html") Join now
				.news__item
					.news__preview
						img(srcSet="img/content/news-pic-1@2x.png 2x" src="img/content/news-pic-1.png" alt="Card")
					.news__wrap
						.stage-small.news__stage crypto news
						.news__subtitle Be Part of our Global Community
						.news__content Let’s stay in touch. Join our communities to keep up with the BitCloud team and our traders from across the world.
						a.button-stroke.button-small.news__button(href="learn-crypto-details.html") Join now
