div(class=classPopular)
	.popular__center.center
		.popular__head
			h2.popular__title.h2 Become a crypto trader in seconds
			.popular__info We've got everything you need to start trading.
		.popular__wrapper
			.popular__slider.js-slider-popular
				.popular__item
					.popular__preview
						img(srcSet="img/content/card-pic-1@2x.png 2x" src="img/content/card-pic-1.png" alt="Card")
					.popular__subtitle Buy & Sell Crypto
					.popular__content We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.
					a.button-stroke.button-small.popular__button(href="buy-crypto.html") Buy crypto
				.popular__item
					.popular__preview
						img(srcSet="img/content/card-pic-2@2x.png 2x" src="img/content/card-pic-2.png" alt="Card")
					.popular__subtitle Trade Assets
					.popular__content We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.
					a.button-stroke.button-small.popular__button(href="exchange.html") Trade now
				.popular__item
					.popular__preview
						img(srcSet="img/content/card-pic-3@2x.png 2x" src="img/content/card-pic-3.png" alt="Card")
					.popular__subtitle Learn crypto
					.popular__content We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.
					a.button-stroke.button-small.popular__button(href="learn-crypto.html") Learn now
		.popular__btns
			a.button.popular__button(href="contact.html") Contact Us
