.post
	.post__list
		.post__item
			.post__preview(style="background-color: #E4D7CF;")
				img(srcSet="img/content/actions-pic-1@2x.png 2x" src="img/content/actions-pic-1.png" alt="Post")
			.post__details
				.post__title Bank deposit
				.post__content Deposit crypto or cash currency to your wallet and start trading on the world largest exchange!
				a.button-stroke.button-small.post__button(href="deposit-fiat.html") Bank deposit
		.post__item
			.post__preview(style="background-color: #CDB4DB;")
				img(srcSet="img/content/actions-pic-2@2x.png 2x" src="img/content/actions-pic-2.png" alt="Post")
			.post__details
				.post__title Transfer
				.post__content Internal transfers are free on Bitcloud.
				a.button-stroke.button-small.post__button.js-popup-open(href="#popup-transfer" data-effect="mfp-zoom-in") Transfer coin