---
title: BitCloud
---
extends layouts/layout
block content
	.profile
		.profile__head
			.profile__center.center
				h2.profile__title.h2 Change password
				.breadcrumbs
					.breadcrumbs__item
						a.breadcrumbs__link(href="index.html") Home
					.breadcrumbs__item Change password
		.profile__body
			.profile__center.center
				.profile__sidebar
					.profile__dropdown
						.profile__top
							+i('lock')
							| Change password
						.profile__menu
							a.profile__link(href="profile-info.html")
								+i('user')
								| Profile
							a.profile__link(href="referrals.html")
								+i('share')
								| Referrals
							a.profile__link.profile__link_separator(href="api-keys.html")
								+i('keyboard')
								| API keys
							a.profile__link(href="sessions-and-login-history.html")
								+i('laptop')
								| Sessions & login history
							a.profile__link(href="2fa.html")
								+i('barcode')
								| 2FA
							a.profile__link.active(href="change-password.html")
								+i('lock')
								| Change password
				.profile__wrapper
					.password
						.password__form
							.password__title.h3 New password
							.field
								.field__label Email
								.field__wrap
									input.field__input(type="email" name="email" placeholder="Email" required)
							.field.field_view
								.field__label new password
								.field__wrap
									input.field__input(type="password" name="new-password" placeholder="New password" required)
									button.field__view
										+i('eye')
							.field.field_view
								.field__label confirm password
								.field__wrap
									input.field__input(type="password" name="confirm-password" placeholder="Confirm password" required)
									button.field__view
										+i('eye')
							button.button.password__button Change password
						.password__wrap
							.password__title.h3 New password
							.password__info Your new password has been set
							.password__btns
								a.button-stroke.password__button(href="index.html") Get home

						