---
title: BitCloud
header: true
footer: true
---
extends layouts/layout
block content
	.login
		.login__col(style="background-image: url('img/content/bg-login.png');")
			a.login__logo(href="index.html")
				img(src="img/logo-light.svg" alt="BitCloud")
				img(src="img/logo-dark.svg" alt="BitCloud")
		.login__col
			.login__head Don’t have an account?<a class="login__link" href="sign-up.html">Sign up for free</a>
			.login__wrap
				.login__form
					.login__top
						h3.login__title.h3 Forgot password
						.login__info For security purposes, no withdrawals are permitted for 24 hours after password changed.
					.field.field_icon
						.field__label email
						.field__wrap
							input.field__input(type="email" name="email" placeholder="Your email" required)
							.field__icon
								+i('email')
					button.button.login__button Continue
					.login__foot
						a.login__link(href="sign-in.html")  Nevermind, I got it
				.login__verification
					h3.login__title.h3 Forgot password
					.login__note To secure your account, please complete the following verification.
					.login__text Enter the 6 digit code received by <span>t*m@u*8.net</span>
					.login__numbers
						.registration__number
							input(type="tel")
						.registration__number
							input(type="tel")
						.registration__number
							input(type="tel")
						.registration__number
							input(type="tel")
					.login__btns
						button.button-stroke.button-small.login__button Resend code
						button.button.button-small.login__button Continue
				.login__new
					.login__title.h3 New password
					.field
						.field__label Email
						.field__wrap
							input.field__input(type="email" name="email" placeholder="Email" required)
					.field.field_view
						.field__label new password
						.field__wrap
							input.field__input(type="password" name="new-password" placeholder="New password" required)
							button.field__view
								+i('eye')
					.field.field_view
						.field__label confirm password
						.field__wrap
							input.field__input(type="password" name="confirm-password" placeholder="Confirm password" required)
							button.field__view
								+i('eye')
					button.button.login__button Continue
					