---
title: BitCloud
classPopular: section-bg section-mb0 popular
---
extends layouts/layout
block content
	.bidding.js-bidding
		.bidding__head
			.bidding__center.center
				h2.bidding__title.h2 Sell crypto
				.bidding__info How to buy crypto on Bitcloud
					a.bidding__link(href="learn-crypto.html") Learn now
						+i('arrow-right')
		.bidding__body
			.bidding__center.center
				.bidding__steps
					.bidding__step.next.js-bidding-step
						.bidding__number 1
						| Select crypto
					.bidding__step.js-bidding-step
						.bidding__number 2
						| Enter amount
					.bidding__step.js-bidding-step
						.bidding__number 3
						| Confirm
				.bidding__wrapper
					.bidding__item.js-bidding-item
						+crypto
					.bidding__item.js-bidding-item
						.bidding__control
							button.bidding__back.js-bidding-back
								+i('arrow-prev')
								| Enter amount
							.bidding__money Buying Bitcoin
								img(src="img/content/currency/bitcoin.svg" alt="Coin")
						.currency
							.currency__payment 
								.currency__field
									.currency__value 1.356
									input.currency__input(type="text" value="1.356")
								.currency__sign.h4 BTC
							.currency__price 
								span.currency__note You will get
								span.currency__result 1.356
								span.currency__note USD
							.currency__foot
								button.button.currency__button.js-bidding-button Sell
					.bidding__item.js-bidding-item
						.bidding__control
							button.bidding__back.js-bidding-back
								+i('arrow-prev')
								| Confirm
							.bidding__money Buying Bitcoin
								img(src="img/content/currency/bitcoin.svg" alt="Coin")
						.payment
							.payment__options
								.payment__option
									.payment__icon(style="background-color: #9757D7;")
										+i('wallet')
									.payment__details
										.payment__category Sell
										.payment__content 1.356 BTC
								.payment__option
									.payment__icon(style="background-color: #58BD7D;")
										+i('wallet')
									.payment__details
										.payment__category Get
										.payment__content 56,000.460 USD
								.payment__option
									.payment__icon(style="background-color: #141416;")
										+i('cloud')
									.payment__details
										.payment__category For
										.payment__content Bitcloud
							.payment__info You are about to sell 1.356 BTC for Bitcloud bank.
							.payment__table
								.payment__flex
									.payment__cell 1.356
									.payment__cell BTC
								.payment__flex
									.payment__cell Service fee
									.payment__cell 0.000 BTC
								.payment__flex
									.payment__cell You will get
									.payment__cell 56,000.460 USD
							.payment__foot
								a.button-stroke.payment__button(href="sell-crypto.html") Cancel
								a.button.payment__button.js-popup-open(href="#popup-successfully" data-effect="mfp-zoom-in") I understand, continue
	.popup.popup_successfully.mfp-hide#popup-successfully
		.successfully
			.successfully__title.h2 Yay! 🎉
			.successfully__list
				.successfully__item
					.successfully__category Status
					.successfully__content Completed
				.successfully__item
					.successfully__category Transaction ID
					.successfully__content 0msx836930...87r398
			.successfully__btns
				a.button-stroke.successfully__button(href="exchange.html") Trade
				a.button.successfully__button(href="wallet-overview.html") Wallet

